# Data files
data
*.hdf
*.tif

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Environment
.env
.venv/
env/

# Airflow
airflow/logs/
airflow.db
airflow.cfg

# DBT
dbt/target/
dbt/logs/
dbt/dbt_packages/

# IDEs
.vscode/
.idea/

# Format
.ruff_cache

# OS
.DS_Store
Thumbs.db

# Credentials
*credentials*.json
*.pem